/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-200.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-200.woff') format('woff');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-300.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-300.woff') format('woff');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-regular.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-500.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-500.woff') format('woff');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-600.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-600.woff') format('woff');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''), url('/fonts/oswald/oswald-v40-latin_cyrillic-700.woff2') format('woff2'),
      url('/fonts/oswald/oswald-v40-latin_cyrillic-700.woff') format('woff');
  }
}
